@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: url('src/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('src/assets/fonts/Montserrat-Medium.ttf');
}