@import "./assets/fonts/fonts.scss";

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

@media (min-width: 2560px) {
    body {
        zoom: 1.2;
    }
}

.app {
    &__logo {
        width: 160px;
        height: 40px !important;
        object-fit: contain;
        margin-top: 10px;
        background-color: #ffffff;
    }
}

.ant-layout-sider-children {
    background-color: #aac1de;
    width: 245px;
}

.ant-pro-base-menu-item-text {
    color: #1B2128;
}
